@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Karl;
  src: url('../public/fonts/Karl-Regular.otf') format('truetype');
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@layer base {
  html {
    @apply scroll-smooth bg-particles bg-cover bg-fixed bg-dark-red text-light-red font-primary;
  }

}

html {
  scroll-behavior: smooth;
}

@keyframes shimmer {
  0% {
    background-position: 0% 0%;
  }

  100% {
    background-position: 200% 0%;
  }
}

.link {
  @apply transition-all duration-200 hover:opacity-50;
}