@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Barlow;
  src: url('../public/fonts/barlow/BarlowSemiCondensed-Regular.ttf') format('truetype');
}
@font-face {
  font-family: Teko;
  src: url('../public/fonts/teko/Teko-Regular.ttf') format('truetype');
}
@font-face {
  font-family: Teko-Thin;
  src: url('../public/fonts/teko/Teko-Light.ttf') format('truetype');
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@layer base {
  html {
    @apply scroll-smooth bg-particles bg-cover bg-fixed bg-dark-red text-custom-white font-primary;
  }
  h1 {
    @apply font-teko;
  }
  h2 {
    @apply font-teko-thin uppercase text-5xl md:text-[64px];
  }
  h3 {
    @apply font-teko-thin uppercase text-4xl md:text-[54px] leading-none;
  }
}

html {
  scroll-behavior: smooth;
}

@keyframes shimmer {
  0% {
    background-position: 0% 0%;
  }

  100% {
    background-position: 200% 0%;
  }
}

.link {
  @apply py-0.5 transition-all duration-200 hover:opacity-50 opacity-80 md:opacity-100 text-light-red;
}

/* Buttons, Connect Wallet Button */

.button-template {
  @apply uppercase border flex items-center justify-start h-[40px] w-[210px] text-xl text-center font-teko leading-none tracking-wider;
}

.button-transitions {
  @apply transition-all duration-200 disabled:opacity-60 disabled:cursor-not-allowed
  hover:bg-opacity-30 active:bg-opacity-10;
}

.connect-button {
  @apply button-template border-light-red border-opacity-20 button-transitions bg-light-red bg-opacity-20 text-light-red ;
}

.connect-button p {
  @apply pt-1.5;
}

.connect-icon {
 @apply relative flex items-center justify-center border-r-[1px] h-full px-3 border-light-red border-opacity-20 mr-2; 
}
.connect-icon:after {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 9px 9px 0px 0;
  border-color: rgba(235, 105, 118, 0.50) transparent transparent transparent;
  left: 0;
  top: 0;
  margin: 4px;
  position: absolute;
}

/* Audio Control */
.audio-button {
  @apply button-template transition-all duration-200 bg-audio hover:bg-audio-hover active:bg-audio-active !border !border-audio-border !border-opacity-100;
}
.audio-icon {
  @apply relative flex items-center justify-center border-r-[1px] h-full px-3 border-audio-border mr-2; 
 }
.audio-icon-inactive {
  @apply audio-icon;
}
 .audio-icon-inactive:after {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 9px 9px 0px 0;
  border-color: rgba(185, 255, 255, 0.50) transparent transparent transparent;
  left: 0;
  top: 0;
  margin: 4px;
  position: absolute;
 }
 .audio-icon-active {
  @apply audio-icon;
}
 .audio-icon-active:after{
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 9px 9px 0px 0;
  border-color: rgba(185, 255, 255, 0.50) transparent transparent transparent;
  left: 0;
  top: 0;
  margin: 4px;
  position: absolute;
  filter: drop-shadow(0px 0px 0.7200000286102295px #B9FFFF) drop-shadow(0px 0px 1.440000057220459px #B9FFFF) drop-shadow(0px 0px 5.039999961853027px #B9FFFF) drop-shadow(0px 0px 10.079999923706055px #B9FFFF) drop-shadow(0px 0px 17.280000686645508px #B9FFFF) drop-shadow(0px 0px 30.239999771118164px #B9FFFF);
 }

 .audio-controller {
  @apply flex items-center justify-between h-[40px] divide-x divide-audio-border border-t border-audio-border;
 }
 .audio-controller button{
  @apply row-centered px-4 h-full transition-all duration-200 hover:bg-audio-button-hover active:bg-audio-dark-bg;
 }

/* Dropdown Navigation */

.navigation {
  @apply relative navigation-container flex justify-between items-center pr-4 border-light-red border-opacity-20;
  filter: drop-shadow(0px 0px 0px rgba(40, 11, 11, 0.60)) drop-shadow(0px 14px 30px rgba(40, 11, 11, 0.59));
}

.navigation-container {
  @apply w-screen lg:w-[500px] xl:w-[600px] h-[50px] md:h-[54px];
}

.navigation-symbol {
  @apply w-[75px] h-full row-centered border-r-[1px] border-light-red border-opacity-40 cursor-pointer;
  background-color: rgba(30, 4, 7, 0.5);
  box-shadow: 0px 0px 15px 0px rgba(235, 105, 118, 0.15) inset;
  color: #FBE1E3;
  text-shadow: 0px 0px 0.36000001430511475px #EB6976, 0px 0px 0.7200000286102295px #EB6976, 0px 0px 2.5199999809265137px #EB6976, 0px 0px 5.039999961853027px #EB6976, 0px 0px 8.640000343322754px #EB6976, 0px 0px 15.119999885559082px #EB6976;
  /* font-family: VTC Spike Trial; */
  font-family: Teko;
  font-size: 35px;
  padding-top: 4px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.23px;
  text-transform: uppercase;
}
.navigation-dropdown {
  filter: drop-shadow(0px 0px 0px rgba(40, 11, 11, 0.60)) drop-shadow(0px 14px 30px rgba(40, 11, 11, 0.59));
  backdrop-filter: blur(5px);
}
.navigation-dropdown-item {
  @apply navigation-container cursor-pointer uppercase border-l border-r border-light-red border-opacity-20 bg-red-020 flex items-center gap-6 h-full;
}
.navigation-dropdown-item-transition {
  @apply transition-all duration-300 hover:bg-navigation-highlight;
}
.icon-transitions {
  @apply transition-all duration-300 hover:bg-light-red hover:bg-opacity-10 p-2.5;
}

/* About */
.about-navigation {  
  @apply relative flex flex-wrap overflow-y-auto items-center border-light-red border-opacity-20 
  uppercase border text-xl text-center font-teko leading-none tracking-wider
  !bg-red-020 !bg-opacity-60 gap-1 !w-auto px-0 md:px-0 !min-h-[50px] md:h-[54px];
}
.about-navigation-item {
  @apply px-2 sm:px-6 md:px-6 h-[50px] flex items-center justify-center pt-[3px] cursor-pointer text-light-red text-opacity-60 
  text-sm md:text-lg transition-all duration-300 hover:text-opacity-100 ;
}
.about-navigation-item-active {
  @apply transition-all duration-200  text-custom-white bg-[#321517];
}
.gold-filter {
  filter: drop-shadow(0px 0px 1.7774707078933716px #FEFDBA) drop-shadow(0px 0px 6.221147537231445px #FEFDBA) drop-shadow(0px 0px 12.44229507446289px #FEFDBA) drop-shadow(0px 0px 21.329648971557617px #FEFDBA) drop-shadow(0px 0px 37.32688522338867px #FEFDBA);

}

/* Wallet Adapter */

.wallet-adapter-modal-wrapper { 
  @apply !rounded-sm !bg-opacity-90 !uppercase;
}
.wallet-adapter-modal-wrapper h1{ 
  @apply !text-white;
}
.wallet-adapter-button { 
  @apply hover:!bg-opacity-100;
}
.wallet-adapter-modal-button-close{
  @apply !bg-transparent;
}

/*  Layout  */

.row-centered {
  @apply flex items-center justify-center;
}
.row-between {
  @apply flex items-center justify-between;
}
.col-centered {
  @apply flex flex-col items-center justify-center;
}
.col-start {
  @apply flex flex-col items-start justify-start;
}
.page-centered {
  @apply w-full h-full flex flex-col items-center justify-center pt-20 px-4 md:px-[10%];
}