@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Barlow;
  src: url('../public/fonts/barlow/BarlowSemiCondensed-Regular.ttf') format('truetype');
}
@font-face {
  font-family: Teko;
  src: url('../public/fonts/teko/Teko-Regular.ttf') format('truetype');
}
@font-face {
  font-family: Teko-Thin;
  src: url('../public/fonts/teko/Teko-Light.ttf') format('truetype');
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@layer base {
  html {
    @apply scroll-smooth bg-particles bg-cover bg-fixed bg-dark-red text-custom-white font-primary;
  }
  h1 {
    @apply font-teko
  }
  h2 {
    @apply font-teko
  }
  h3 {
    @apply font-teko-thin
  }
}

html {
  scroll-behavior: smooth;
}

@keyframes shimmer {
  0% {
    background-position: 0% 0%;
  }

  100% {
    background-position: 200% 0%;
  }
}

.link {
  @apply py-0.5 transition-all duration-200 hover:opacity-50 opacity-80 md:opacity-100 text-light-red;
}

.custom-button {
  @apply !bg-button cursor-pointer !flex !items-center !justify-start !uppercase !text-light-red !w-[200px] !h-[36px]
  hover:!bg-button-hover hover:!bg-opacity-100 !duration-200 active:!bg-button-active disabled:!opacity-60 disabled:!cursor-not-allowed !rounded-none
  text-xl text-center font-teko leading-none tracking-wider;
}
.custom-button p {
  @apply pt-1.5;
}

.connect-icon {
 @apply relative flex items-center justify-center border-r-[1px] h-full px-3 border-light-red border-opacity-[.2] mr-2; 
}
.connect-icon:after {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 9px 9px 0px 0;
  border-color: rgba(235, 105, 118, 0.50) transparent transparent transparent;
  left: 0;
  top: 0;
  margin: 4px;
  position: absolute;
}

/* Wallet Adapter */

.wallet-adapter-modal-wrapper { 
  @apply !rounded-sm !bg-opacity-90 !uppercase;
}
.wallet-adapter-modal-wrapper h1{ 
  @apply !text-white;
}
.wallet-adapter-button { 
  @apply hover:!bg-opacity-100;
}
.wallet-adapter-modal-button-close{
  @apply !bg-transparent
}